@font-face{
		font-family: rodus;
		src: url('RODUSsquare100.otf') format('opentype');
}

#title {
	font-family: rodus;
	position: absolute;
	color: #d24d57;
	left: 24%;
	top: 15%;
}

#container {
	position: absolute;
	left: 30%;
	top: 40%;
	width: 40%;
	background-color: #3f69aa;
	border-radius: 25px;
	-webkit-transition: background-color 1000ms ease-in-out;
	-moz-transition: background-color 1000ms ease-in-out;
	-o-transition: background-color 1000ms ease-in-out;
	-ms-transition: background-color 1000ms ease-in-out;
}

#password {
	position: relative;
	width: 79%;
	padding-left: 1em;
	border-radius: 30px;
	border: none;
	height: 2em;
}

#count {
	padding-left: 1em;
	border-radius: 30px;
	border: none;
	height: 2em;
}

#options {
	color: white;
	font-family: helvetica;
	font-size: 14.25;
	cursor: default;
}

.strength {
	position: relative;
}

.val {
	position: absolute;
	left:45%;
	font-family: helvetica;
	color: white;
	opacity: 0;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}

.chck {
	cursor: pointer;
}

.btn {
	cursor: pointer;
}
