@font-face{
		font-family: rodus;
		src: url('RODUSsquare100.otf') format('opentype');
}

#title {
	font-family: rodus;
	position: absolute;
	color: #d24d57;
	left: 24%;
	top: 15%;
}

#container {
	position: absolute;
	left: 30%;
	top: 40%;
	width: 40%;
	background-color: #3f69aa;
	border-radius: 25px;
}

#password {
	position: relative;
	width: 89%;
}

#options {
	color: white;
	font-family: helvetica;
	font-size: 14.25;
}